<a href="https://colab.research.google.com/github/David631-GitHub/Clase-29.07.2024/blob/main/01_Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. What is python?**

General programming language

* Data analysis
* Machine learning
* Web scrapping
* Create videogames
* Create software
* Statistical analysis

# **2. Why Python?**

* It is simple
* Open-Source
* Popular and documentation

# **3. As a calculator**

In [ ]:
# Addition
2 + 2

4

In [ ]:
# Substaction
10 - 2

8

In [ ]:
# Multiplication (Eight time seven)
8 * 7

56

In [ ]:
# Division
10 / 3

3.3333333333333335

In [ ]:
# Integer-Division
10 // 3

3

In [ ]:
# Exponential
8 ** 2

64

# **4. Parenthesis**

In [ ]:
# Whitout parenthesis

2 + 3 * 5 / 2

9.5

In [ ]:
# Whit parenthesis

(2 + 3) * 5 / 2

12.5

# **5. Integers and real numbers (Numeros enteros y reales)**

In [ ]:
# Integers
type (26)

int

In [ ]:
# Real Number
type (26.0)

float

# **6. Scientific notacion (Notación cientifica)**

In [ ]:
# 50 in scientific notacion
5e1

50.0

In [ ]:
# 0,005 in scientific notacion
5e-3

0.005

# **7. Python Basic Functions (Funciones básicas de Python)**

## 7.1 Print (Imprimir)

Permite ver todos los resultados.

In [ ]:
# Función print a lo largo de una columna
print(5+3)
print(2+5)
print(10-3)
print(2*5 / 2)

8
7
7
5.0

In [ ]:
# Función print a lo largo de una fila.
print(5+3, "/" , 2+5, "/", 10-3, "/", 2*5 / 2)

8 / 7 / 7 / 5.0

In [ ]:
# Loop
for i in range(0,10): print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Loop, indicanco cada cuanto quiero que salte el resultado
for i in range(0,10,2): print(i)

0
2
4
6
8

In [ ]:
# Loop, indicanco cada cuanto quiero que salte el resultado, al invertir los numeros de incio y final debo invertir el signo del ultimo paso.
for i in range(10,0,-2): print(i)

10
8
6
4
2

In [ ]:
# Example
# Let´s round the number 1.23587

print("The aproximation of the number",1.23587,"with:")
print("3 decimals is:", round(1.23587,3))
print("2 decimals is:", round(1.23587,2))
print("1 decimals is:", round(1.23587,1))

The aproximation of the number 1.23587 with:
3 decimals is: 1.236
2 decimals is: 1.24
1 decimals is: 1.2

In [ ]:
# Mostrar el mismo resultado de arriba utilisando el codigo for

print("The aproximation of the number",1.23587,"with:")
for i in range(3,0,-1):
  print(i,"decimals is:", round(1.23587,i))

The aproximation of the number 1.23587 with:
3 decimals is: 1.236
2 decimals is: 1.24
1 decimals is: 1.2

In [ ]:
# Otro ejemplo
print("The first ten multiple of the table of four ", "are:")
for i in range(0,40,4):
  print(i)

The cumulative average for this semester 3.84792 Whit
3 decimals is: 3.848
2 decimals is: 3.85
1 decimals is: 3.8

** Something that stores a value **

In [2]:
# Example
a = 3.0
print(a)

3.0

In [3]:
# Example as calculator
a = 3.0
b = 5.0
c = a + b
print(c)

8.0

In [5]:
# Chain assingment
a, b = 3.0, 5.0
print(a+b)

8.0

In [6]:
# Chain Assingment
x = y = z = 100
print(x,y,z)

100 100 100

# **3. Delete and clear**

In [7]:
# Delete X and Y
del x, y

In [10]:
# Erase all variable
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

# **Practice**

In [17]:
# Practice
## Aproximate the number 15.476352489
## to 1, 2, 3..., 8 decimals and print the results

## Use variables
a = 15.476352489
b = 1
c = 9
print("The aproximation of the number",a,"with:")
for i in range(b,c):
  print(i,"decimals is:", round(a,i))

The aproximation of the number 15.476352489 with:
1 decimals is: 15.5
2 decimals is: 15.48
3 decimals is: 15.476
4 decimals is: 15.4764
5 decimals is: 15.47635
6 decimals is: 15.476352
7 decimals is: 15.4763525
8 decimals is: 15.47635249

In [19]:
# Something
w = 0

In [23]:
w += 1

# **4. Naming**

In [26]:
# Example
x = 26
miedades = 26
laedadquetengoes = 26
MiEdad = 26

# La mejor forma para nombrar una variable es de forma corta y concisa y utilizando minusculas

mi_age = 26

## **5. Data types**

## 5.2 Floats

## 5.3 Booleans

In [27]:
red_shirt = True

Boolean expressions

In [29]:
x = 2
y = 3
print ("x is less than y",x < y)
print ("x is greater than y",x < y)
print ("x is equal to y",x == y)
print ("x is not equal to y",x != y)
print ("x is greater than or equal to y",x >= y)
print ("x is less than or equal to y",x <= y)

x is less than y True
x is greater than y True
x is equal to y False
x is not equal to y True
x is greater than or equal to y False
x is less than or equal to y True

### Boolean math

In [30]:
red_shirt = True
blue_pants = False
print(red_shirt + blue_pants)

1

## 5.4 String

In [41]:
x = "La Salle University"
print(x)

La Salle University

### Index (Indice)

In [44]:
# Example for extract a unique element
print("The first element of x is",x[0])
print("The second element of x is",x[1])
print("The last element of x is",x[-1])
print("The second to last element of x is",x[-2])

The first element of x is L
The second element of x is a
The last element of x is y
The second to last element of x is t

In [49]:
# Example for extract a word
print ("The first word of x is",x[0:2])
print ("The second word of x is",x[3:8])
print ("The last word of x is",x[-2:])

The first word of x is La
The second word of x is Salle
The last word of x is ty

In [53]:
f = "David"
g= "Avellaneda"
print(f + " " + g)

David Avellaneda

## Methods

In [50]:
# Upper case
x.upper()

'LA SALLE UNIVERSITY'

In [51]:
# Lower case
x.lower()

'la salle university'

In [52]:
# Replace
nx = x.replace(" ","_")
print(nx)

La_Salle_University